body {
    font: 24px Helvetica;
    background: #999999;
}

header {
  display: block;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #e97f13;
  background: #354044;
}

nav {
    margin: 0px;
    padding: 5px;
    width: 200px;
    height: 500px;
    border: 1px solid #e97f13;
    background: #354044;
    float: left;
}

#splash {
    margin: 0px;
    padding: 5px;
    border: 1px solid #e97f13;
    background: #354044;
}

#main {
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: block;
}

article {
    margin: 0px;
    padding: 5px;
    border: 1px solid #e97f13;
    background: #354044;
    float: left;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #e97f13;
    background: #354044;
}

footer {
    display: block;
    margin: 0px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #e97f13;
    background: #354044;
    clear: both;
}

